# Python
__pycache__/
*.py[cod]
*$py.class

# Environnement virtuel
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# Fichiers temporaires
*.log
*.tmp

# Données locales
*.csv
*.xlsx
*.xls

# FICHIERS PRIVÉS (CORE)
src/core/graph_manager.py
